log_level = "warn"
listener = "http"
listen_port = 8080
listen_address = "127.0.0.1"
mode = "transparent"
only_allow = []
only_deny = []

[https]
cert_path = "./crt.pem"
key_path = "./key.pem"

[transparent]
response_caching = false